.search-box {
    width:100%;
    grid-column: 1/-1;

    .search {
        display: inline-flex;
        
        input {
            width: 220px;
            height: 30px;
        }
    }
    .search-results {
        margin-top: 10px;
        display: grid;

        h3 {
            margin-bottom: 15px;
        }
    }

    .last-searches {
        display: inline-flex;
        .search-link {
            min-width:80px;
            height: 30px;
            margin-right:20px;
            
            a {
                text-decoration: none;
                color:black;
            }
        }
    }
}